# Build
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/
[Oo]ut/
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]uild/

# Visual Studio
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

# Rider
.idea/
*.sln.iml

# User-specific
*.rsuser
*.userprefs

# NuGet
*.nupkg
*.snupkg
**/packages/*
!**/packages/build/
project.lock.json
project.fragment.lock.json
artifacts/

# .NET
*.dll
*.exe
*.pdb
*.cache
*.log
appsettings.Development.json
appsettings.*.local.json

# Publish
publish/
*.pubxml

# Misc
*.swp
*~
.DS_Store
Thumbs.db
